.kanban {
  position: relative;
  display: flex;
  height: 100%;
  box-shadow: inset 3px 3px 6px 0px rgb(0 0 0 / 30%);
  background-color: #544c81;
  padding: 15px 7.5px;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}